.form_navigation ul {
   display: flex;
   list-style: none;
   padding-left: 8px;
   border-bottom: 1px solid #efefef;
}

.form_navigation ul li {
   margin-right: 30px;
   color: #a3a3a3;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 100%;
   cursor: pointer;
}

.form_navigation .selected {
   border-bottom: 3px solid #0065ff;
   padding-bottom: 10px;
   color: #0065ff;
}
